.fitness-card {
	display: block;
	position: relative;
    width: 20%;
    height: 350px;

    overflow: hidden;

    margin: 10px;
    min-width: 300px;
    max-width: 350px;

    border-radius: 10px;
    box-shadow: 0 0 12px 0px lightgrey;
}

.fitness-card.active {
    box-shadow: 0 0 20px 10px lightgrey;
}

.fitness-card .view-details-link {
	position: absolute;

	opacity: 0;

	color: #1976d2;
	bottom: 20px;

	transition: opacity 0.5s;
}

.fitness-card.active .view-details-link {
	opacity: 1;
}