.fitness-card-bottom {
	position: relative;

	height: calc(100% - 200px);
	padding: 10px;

	box-sizing: border-box;
}

.fitness-card-bottom .fitness-card-title-row {
	position: relative;

	margin-bottom: 10px;
	width: 100%;
}

.fitness-card-bottom .fitness-card-title-row .fitness-card-title {
	display: inline-block;

	width: 80%;

	vertical-align: top;
}

.fitness-card-bottom .fitness-card-title-row .fitness-card-trainer-img {
	display: inline-block;

	right: 0;
}