.multi-workout-image-overlay {
    position: absolute;

	top: 0;
    right: 0;
    width: 33%;
    height: 100%;

    padding: 10% 5% 10% 5%;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    text-align: center;

    font-variant: small-caps;
}

.multi-workout-image-overlay div {
	margin: 10px 0 10px 0;
}

.multi-workout-image-overlay .num-workouts {
	font-size: 32px;
}

.multi-workout-image-overlay img {
	width: 40px;
	height: 40px;

	color: white;
}