.workout-measurements {
	font-size: 12px;
}

.workout-measurements div {
	display: inline-block;

	padding: 0 3px 0 3px;

	line-height: 20px;
	vertical-align: middle;
}

.workout-measurements img {
	width: 20px;
	height: 20px;

	color: grey;
}