body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), 
  		url(./fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}